# macOS
.DS_Store
**/.DS_Store

# Editors
.vscode/
.idea/
*.swp

# Logs
*.log
npm-debug.log*

# Node / future build
node_modules/
dist/
.next/
out/

# Local env
.env
.env.local
.env*.local

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
